.outer{
    border:3px solid salmon;
    margin: 5px;
    padding:15px;
    border-radius: 15px;
}
.inner{
    border:2px solid saddlebrown;
    margin: 5px;
    padding:15px;
    border-radius: 15px;
}
.sorting{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.going{
    background-color: #D32F2F;
    color:1px solid #D32F2F;
    color:#fff;
}
.visited{
    background-color: #388E3C;
    color:1px solid #388E3C;
    color:#fff;
}
.visitedCountry{
    background-color: bisque;
}
.marked{
    background-color: #ddd;
    cursor:auto
}
.flagVisited{
    display: flex;
    gap:5px;
}
.flagVisited img{
    width:100px;
}